@font-face {
    font-display: swap;
    font-family: 'menu';
    src: url('../fonts/menu.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'main';
    src: url('../fonts/elizabeth.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'english-rose';
    src: url('../fonts/english-rose.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}