.menu-third {

    &__list {
        margin: 32px 0 0;

        @media (max-width: 920px) {
            margin: 16px 0 0;
        }
    }

    &__item {
        width: 600px;
        margin: 0 auto;
        &:not(:first-of-type) {
            margin: 32px auto 0;

            @media (max-width: 767px) {
                margin-top: 16px;
            }
        }

        @media (max-width: 767px) {
            width: 100%;
            max-width: 400px;
        }
    }

    &__link {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        color: #45413e;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__title {
        margin: 16px 0 0;

        @media (max-width: 767px) {
            margin: 8px 0 0;
        }
    }

    .title-text,
    .desc-text {
        display: block;
        text-align: center;
    }

    .title-text {
        font-family: $english-rose;
        font-weight: 400;
        font-size: $main-text-size-lg;
        line-height: 1.2;
    }

    &__inner {
        width: 66%;
        margin: 0 auto;
        padding: 12px;
        border-radius: 100%;
        border: 2px solid #94887a;
        background-color: rgba(244, 234, 219, 0.3);
        overflow: hidden;

        @media (max-width: 767px) {
            padding: 4px;
        }
    }

    &__picture {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
            border-radius: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
        }
    }

    @media (orientation: landscape) {
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 60vh;
        }

        &__item {
            width: calc((100% - 96px) / 3);
            margin: 0;

            &:not(:first-of-type) {
                margin: 0;
                @media (max-width: 767px) {
                    margin: 0;
                }
            }

        }

        &__inner {
            width: 80%;
        }
    }

    @media (orientation: portrait) {

    }


}