.rect-menu {
    &__inner {
        margin: 64px 0 0;

        @media (max-width: 920px) {
            margin: 16px 0 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -56px -24px;

        @media (max-width: 920px) {
            margin: -24px -8px;
        }
    }

    &__item {
        width: calc((100% - 96px) / 2);
        max-width: 430px;
        margin: 56px 24px;

        @media (max-width: 920px) {
            width: calc((100% - 32px) / 2);
            margin: 24px 8px;
        }

        &-title {
            margin: 16px 0 0;
            font-size: 38px;
            font-family: $menu;
            line-height: 1;
            text-align: center;
            font-weight: 400;

            @media (max-width: 920px) {
                font-size: 16px;
            }
        }
    }

    &__link {
        width: 100%;
        display: block;
        color: #3c3c3b;
    }

    &__picture {
        padding: 12px;
        border: 2px solid #94887a;
        background-color: rgba(244, 234, 219, 0.3);
        overflow: hidden;
        border-radius: 16px;

        @media (max-width: 767px) {
            padding: 8px;
        }

        &-inner {
            position: relative;
            border-radius: 16px;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 110%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }


    @media (orientation: landscape) {
        &__list {
            justify-content: center;
            margin: -32px -24px;
        }

        &__item {
            margin: 32px 24px;
        }

        @media (max-height: 480px) {
            &__list {
                margin: -16px;
            }

            &__item {
                width: calc((100% - 64px) / 2);
                margin: 16px;
                max-width: 30vh;
            }
        }
    }

}